*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.assetbundle filter=lfs diff=lfs merge=lfs -text
*.unity3d filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/GUI[[:space:]]PRO[[:space:]]Kit[[:space:]]-[[:space:]]Casual[[:space:]]Game/ResourcesData/Fonts/LilitaOne-Regular[[:space:]]Outline_Extended[[:space:]]ASCII_210[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/GUI[[:space:]]PRO[[:space:]]Kit[[:space:]]-[[:space:]]Casual[[:space:]]Game/Scenes/DemoScene_(v3.0).unity filter=lfs diff=lfs merge=lfs -text
Assets/Art/Audio/Audio/Ambient/ForestAmbience_Day.wav filter=lfs diff=lfs merge=lfs -text
Assets/Art/Audio/Audio/Ambient/ForestAmbience_Night.wav filter=lfs diff=lfs merge=lfs -text
Assets/Art/Audio/Audio/Ambient/ForestAmbience_Windy.wav filter=lfs diff=lfs merge=lfs -text
Assets/Art/Models/Character/Brute.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/GamePlay/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/GamePlay/NavMesh-NavMesh[[:space:]]Surface.asset filter=lfs diff=lfs merge=lfs -text
Assets/StarterAssets/ThirdPersonController/Character/Textures/Armature_Arms_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/StarterAssets/ThirdPersonController/Character/Textures/Armature_Body_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/StarterAssets/ThirdPersonController/Character/Textures/Armature_Legs_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_0_0_8723fb12-db1c-4ba2-97c5-90e784c8adbf.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_0_1_e85387be-618a-4f11-a28f-1cbc224e6e94[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_0_1_e85387be-618a-4f11-a28f-1cbc224e6e94.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_0_2_5f735b10-59bc-418b-b24d-4385eb3a186d.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_0_3_f8883893-11fe-4631-8dfb-2d342383567b.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_0_548791b1-5119-4501-a6f8-e5b8e45c25d8.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_1_4bf22c8f-eb55-436d-84e3-dedfa85665b1[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_1_4bf22c8f-eb55-436d-84e3-dedfa85665b1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_2_1694bb0f-cffe-402c-b6f9-cf47692fbb78[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_2_1694bb0f-cffe-402c-b6f9-cf47692fbb78.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_3_c8bbd3cb-768c-4918-85c9-b01968beea93[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_1_3_c8bbd3cb-768c-4918-85c9-b01968beea93.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_0_1170b034-efff-4ff0-8513-60d934e963db.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_1_82fc4922-5564-4a18-858e-787f6d901556[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_1_82fc4922-5564-4a18-858e-787f6d901556.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_2_b6e03cf0-de91-4cae-b6af-0128d856ae43[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_2_b6e03cf0-de91-4cae-b6af-0128d856ae43.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_3_f3ed9c1f-cb52-413a-a7d7-8e03961f4d5b[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_2_3_f3ed9c1f-cb52-413a-a7d7-8e03961f4d5b.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_3_0_ae064d43-ab51-4240-a34a-6f1f5da8134d.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_3_1_f87b3edd-12d5-4d51-aea4-88280910a3d8.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_3_2_77e49ac9-7f8e-47c2-ae00-57296acecb1c[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_3_2_77e49ac9-7f8e-47c2-ae00-57296acecb1c.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Data/Terrain_3_3_9b11d05b-b237-4de7-82ed-a402f9cedebd.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_A/Black_Sand_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_A/Black_Sand_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_A/Black_Sand_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_Rocks_B/Black_Sand_Rocks_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_Rocks_B/Black_Sand_Rocks_B_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Black_Sand_Rocks_B/Black_Sand_Rocks_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_A/Grass_A_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_A/Grass_A_Height.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_A/Grass_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_A/Grass_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Moss_A/Grass_Moss_A_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Moss_A/Grass_Moss_A_Height.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Moss_A/Grass_Moss_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Moss_A/Grass_Moss_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Soil_A/Grass_Soil_A_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Soil_A/Grass_Soil_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Grass_Soil_A/Grass_Soil_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Heather_A/Heather_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Heather_A/Heather_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Heather_A/Heather_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Pebbles_B/Pebbles_B_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Pebbles_B/Pebbles_B_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Pebbles_B/Pebbles_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Rock_Jagged_B/Rock_Jagged_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Rock_Jagged_B/Rock_Jagged_B_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Rock_Jagged_B/Rock_Jagged_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/TerrainColorBlend.psd filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Tidal_Pools_B/Tidal_Pools_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainDemoScene_HDRP/Terrain/Textures/Tidal_Pools_B/Tidal_Pools_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_A/Cliff_Mossy_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_A/Cliff_Mossy_A_Height.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_A/Cliff_Mossy_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_A/Cliff_Mossy_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_B/Cliff_Mossy_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_B/Cliff_Mossy_B_Height.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_B/Cliff_Mossy_B_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Cliff_Mossy_B/Cliff_Mossy_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_06_Albedo.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_06_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_06_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_Details_01.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_Details_02.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Rock_Overgrown_I/Rock_Overgrown_I_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Stone_A/Stone_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Stone_A/Stone_A_Height.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Stone_A/Stone_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Rocks/Textures/Stone_A/Stone_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Skybox/Textures/Afternoon_Skybox.hdr filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Trees/Pines/Pine_A/Textures/Bark_Color.png filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Water/Textures/Moss_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Water/Textures/Moss_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Prefabs/Water/Textures/Moss_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/errosion02.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Errosion02_Heightmap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Hills01_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Hills02_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Mountain09_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Mountain10_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Mountain11_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/ridge05.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Ridge05_Heightmap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/ridge06.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Ridge06_Heightmap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Slope01_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Slope02_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Slope03_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Slope04_Heightmap.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/volcanic.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/volcano01.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Volcano01_Heightmap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/Volcano02_Heightmap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/hills01.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/hills02.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/mountain09.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/mountain10.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/mountain11.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/slope01.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/slope02.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/slope03.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/slope04.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Heightmaps/_New/terrace.tiff filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Black_Sand_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Black_Sand_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Black_Sand_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_B_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_B_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Dry_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Dry_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Dry_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Moss_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Moss_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Moss_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Soil_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Soil_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Grass_Soil_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Heather_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Heather_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Heather_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Muddy_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Muddy_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Muddy_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_A_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_A_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_A_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_B_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_C_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_C_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Pebbles_C_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Rock_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Rock_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Rock_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Snow_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Snow_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Soil_Rocks_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Soil_Rocks_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Soil_Rocks_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Tidal_Pools_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSampleAssets/Textures/Terrain/Tidal_Pools_Normal.tif filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/armour[[:space:]]Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/armour[[:space:]]Normal.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Beard_alpha[[:space:]]for[[:space:]]Uniti.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Beard_Normal.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Belt[[:space:]]Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Belt[[:space:]]Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/body_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/body_Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Boots[[:space:]]Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]1/Boots[[:space:]]Normal.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/armour[[:space:]]Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/armour[[:space:]]Metallic.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/armour[[:space:]]Mixed_AO.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/armour[[:space:]]Normal.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/armour[[:space:]]Roughness.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/Belt2_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/Belt2_Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/Boots2_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Skin[[:space:]]2/Boots2_Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Weapon/Shild1_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Weapon/Shild1_Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Weapon/sword1_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
Assets/Warrior[[:space:]]3/Texture/Weapon/sword1_Normal_OpenGL.tga filter=lfs diff=lfs merge=lfs -text
